@import url(./styles/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./styles/variables.scss);
@import url(./styles/mixins.scss);

.body-style {
  margin: 0 auto;
  line-height: 1;
  background-color: #FFF;
  font-family: 'KumbhSans', 'Arial', sans-serif;
}